<div class="col-md-12 padding-zero margin-buttom">
<footer class="footer page-footer">

	<div class="footer-left">

		<p class="footer-company-name">Career Startup &copy; 2016</p>
		<a href="https://www.facebook.com/kamlesh.verma.16906" target="_blank">
	    	<img class="social-icon" src="../../assets/img/facebook.png">
	    </a>
	    
	    <a href="https://github.com/kamleshKumarVerma/" target="_blank">
	    	<img class="social-icon" src="../../assets/img/github.png">
	    </a>
	    
	    <a href="https://plus.google.com/114164564178232255923" target="_blank">
	    	<img class="social-icon" src="../../assets/img/google.png">
	    </a>
	    
	    <a href="https://in.linkedin.com/in/maneesh-dhakad-525ba485" target="_blank">
	    	<img class="social-icon" src="../../assets/img/linked-in.png">
	    </a>

	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>
				<span>#51/16 Tavarekere , BTM Bangalore, Karnataka - 560029, India 
				</span> 
			</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>(+91) 78478-26750 </p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			Career Startup is helping you to find best school, college, coaching and tuition institutions for you.
		</p>

		<br> 
		

	</div>

</footer>
</div>