<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['Home']"><img class="logo-size" src="../../assets/img/logo.png"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li *ngIf="!loggedInUser">
          <a [routerLink]="['AddEducation']">Are you Education Provider</a>
        </li>
        <li *ngIf="loggedInUser" class="dropdown">
            <a href="" class="dropdown-toggle capitalize-username" data-toggle="dropdown">Hi {{loggedInUser.name}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a [routerLink]="['Profile']">My Profile</a></li>
                <li><a [routerLink]="['MyEducationCenter']">My Education center</a></li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<app-login></app-login>

<!-- Signup Modal -->
<app-signup></app-signup>
